/* Mobile devices */
@media (max-width: 320px) {
    .mySlideoutMenu {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 95%;
    }

    .movieDisplay {
        margin: 20px;
    }
}

// /* Tablet devices */
// @media (max-width: 760px) {
//     .mySlideoutMenu {
//         width: 70%;
//     }
// }

// /* Large Desktop devices */
// @media (min-width: 1080px) {
//     .mySlideoutMenu {
//         width: 30%;
//     }
// }
