.openButton i {
    font-size: 2rem;
    /* Default size */
}

/* For smaller screens */
@media (max-width: 760px) {
    .openButton i {
        font-size: 1.5rem;
    }
}

/* For even smaller screens */
@media (max-width: 320px) {
    .openButton i {
        font-size: 1.2rem;
    }
}
