// setting default font size
html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    color: $blackShade;
}

h1 {
    color: $whiteShade;
    text-align: center;
    padding: 20px, 0;
    margin: 0;
    font-size: 36px;
}

h2 {
    margin-top: 0;
}

p {
    margin: 0;
}